// Theme's Palette
@import("/Users/shunshun/Github/blogs/docs/.vuepress/theme/styles/palette.styl")

// User's Palette
@import("/Users/shunshun/Github/blogs/docs/.vuepress/theme/example/.vuepress/styles/palette.styl")