.dark {
  background: #000000
  min-height: 100vh
  height: 100%
  color: #7f7f7f
}

.dark>>>.header {
  background: #202020

  .container a {
    color: #afafaf
  }
}

.dark >>> .el-input__inner {
  background-color: #1f1f1f !important
}

.dark>>>.footer {
  background: #202020
}

.dark>>>.el-card {
  border: 1px solid #050505
  background-color: #202020
  color: #303133
  -webkit-transition: 0.3s
  transition: 0.3s
}

.dark >>>.el-card__header {
  border-bottom: 1px solid #343434
}

.dark >>>.el-pagination button:disabled {
  color: #C0C4CC
  background-color: #000 !important
}

.dark >>>.el-pagination .btn-next {
  background: center center no-repeat #000 !important
  color: #fff
}

.dark >>>.el-pagination .btn-prev {
  background: center center no-repeat #000 !important
  color: #fff
}

.dark >>> .el-pager li {
  background: #000 !important
}
